#bg {
  background-color: #121979;
}

.navbar {
  background-image: none;
  border-bottom: 1px solid #121979;
}

.background-img {
  background-image: url("images/background.jpeg");
  background-size: cover;
  background-position: center center;
}

/*#the-form {
  display: none;
}*/
/*#calendar {
  margin-top: 80px;
  margin-bottom:;
}*/

/*.navbar-default .navbar-nav>li>a:hover,
 .navbar-default .navbar-nav>li>a:focus {
  background-color: #290;
}*/
